:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
}
#search__results {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.container {
  padding: 40px;
  margin: 0 auto;
  width: 50vw;
  text-align: center;
  margin-top: 5rem;
  border: 1px solid red;
  background-color: var(--OffWhite);
}

.character {
  list-style-type: none;
  background-color: var(--dark-blue);
  border-radius: 3px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "name image"
    "house image";
  text-align: left;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.character > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.character > p {
  grid-area: house;
  margin: 0;
  /* margin-top: -18px; */
}

.character > img {
  max-height: 100px;
  grid-area: image;
}

.search__link {
  list-style: none;
  text-decoration: none;
  color: var(--yellow);
}
